@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Noto Sans", sans-serif;
}
#equation{
    width:100%;
    position:absolute;
    left:0%;
    top:25%;
    font-size:30px;
    letter-spacing:5px;
    text-align:center;
    line-height:50px;
}
#header{
    width:100%;
    position:absolute;
    left:0%;
    top:15%;
    font-size:40px;
    font-weight:700;
    text-decoration:underline;
    text-underline-offset:15px;
    text-align:center;
}
#indicator{
    background-color:red;
    width:10px;
    height:10px;
    left:25%;
    position:absolute;
    top:28%;
    border-radius:50%;
}